body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:106px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:386px;
  width:169px;
  height:106px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:45px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:64px;
  width:633px;
  height:428px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:88px;
  background:inherit;
  background-color:rgba(102, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:65px;
  width:633px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:629px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:153px;
  width:633px;
  height:339px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:339px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:153px;
  width:429px;
  height:339px;
  color:#FFFFFF;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:425px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:161px;
  width:143px;
  height:65px;
  text-align:left;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-21px;
  width:139px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:147px;
  background:inherit;
  background-color:rgba(102, 51, 102, 0.486274509803922);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:345px;
  width:169px;
  height:147px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:165px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#CC33CC;
  text-align:center;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:386px;
  width:127px;
  height:46px;
  font-size:20px;
  color:#CC33CC;
  text-align:center;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:443px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:153px;
  width:290px;
  height:339px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:277px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:206px;
  width:279px;
  height:277px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:153px;
  width:155px;
  height:339px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:110px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:163px;
  width:116px;
  height:110px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:47px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:179px;
  width:327px;
  height:1px;
  font-size:28px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-16px;
  width:323px;
  word-wrap:break-word;
}
#u29_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:185px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:298px;
  width:146px;
  height:185px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:142px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:447px;
  width:118px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u33_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:215px;
  width:278px;
  height:67px;
  font-size:20px;
  text-align:left;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  word-wrap:break-word;
}
#u35_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:268px;
  width:278px;
  height:67px;
  font-size:20px;
  text-align:left;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:315px;
  width:278px;
  height:67px;
  font-size:20px;
  text-align:left;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  word-wrap:break-word;
}
#u39_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:361px;
  width:278px;
  height:67px;
  font-size:20px;
  text-align:left;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:274px;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:67px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:404px;
  width:299px;
  height:67px;
  font-size:20px;
  text-align:left;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:295px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:98px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:237px;
  width:101px;
  height:98px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
