body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:823px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:64px;
  width:633px;
  height:428px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:88px;
  background:inherit;
  background-color:rgba(102, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:65px;
  width:633px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:629px;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:153px;
  width:633px;
  height:339px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:339px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:153px;
  width:488px;
  height:339px;
  color:#FFFFFF;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:141px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:163px;
  width:111px;
  height:141px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:325px;
  width:145px;
  height:98px;
  text-align:left;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:141px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:433px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:153px;
  width:482px;
  height:339px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:277px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:206px;
  width:425px;
  height:277px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:166px;
  width:327px;
  height:40px;
  font-size:28px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:323px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:437px;
  width:118px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:272px;
  width:147px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:331px;
  width:147px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:275px;
  width:99px;
  height:37px;
}
#u216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:332px;
  width:99px;
  height:37px;
}
#u217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:387px;
  width:147px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:143px;
  word-wrap:break-word;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:389px;
  width:99px;
  height:37px;
}
#u220_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
