body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:428px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:65px;
  width:633px;
  height:428px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:206px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:88px;
  background:inherit;
  background-color:rgba(102, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(102, 204, 204, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:66px;
  width:633px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#F2F2F2;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:629px;
  word-wrap:break-word;
}
#u225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:154px;
  width:633px;
  height:339px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:488px;
  height:339px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:154px;
  width:488px;
  height:339px;
  color:#FFFFFF;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:484px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:141px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:164px;
  width:111px;
  height:141px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:62px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:326px;
  width:145px;
  height:98px;
  text-align:left;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:141px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:157px;
  top:434px;
  width:73px;
  height:34px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:339px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:154px;
  width:482px;
  height:339px;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:162px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:160px;
  width:327px;
  height:43px;
  font-size:28px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:323px;
  word-wrap:break-word;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:31px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:444px;
  width:118px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:114px;
  word-wrap:break-word;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:221px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:213px;
  width:416px;
  height:221px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:102px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:336px;
  width:207px;
  height:34px;
  font-size:20px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:242px;
  width:207px;
  height:34px;
  font-size:20px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:286px;
  width:284px;
  height:34px;
  font-size:20px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:380px;
  width:207px;
  height:34px;
  font-size:20px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:242px;
  width:99px;
  height:37px;
}
#u251_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:289px;
  width:99px;
  height:37px;
}
#u252_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:339px;
  width:99px;
  height:37px;
}
#u253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:481px;
  top:386px;
  width:99px;
  height:37px;
}
#u254_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
